* {
    margin: 0;
    padding: 0;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}
.menu {
    height: 100vh;
    position: fixed;
}
.content_form {
    background-color: rgb(172, 216, 252);
    margin-left: 15%;
    padding: 125px  150px;
}
ul {
    padding: 30px;
    list-style: none;
    font-size: 1em;
    display: block;
    text-decoration: none;
}
li {
    padding: 30px 10px 0 30px;
    text-align: left;
    text-decoration: none;
}
nav{
    background: rgb(6, 42, 77);
    height: 100%;
    width: 15%;
}
a {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1.2em;
    text-decoration: none;
}
a:hover {
    color: rgb(160, 220, 235);
}
label {
    height: 30px;
    color: #000;
}
input {
    height: 40px;
}
.fa-arrow-left {
    font-size: 2em;
}
@media (max-width: 600px){
    nav{
        padding-top: 30px;
        background: rgb(2, 1, 1);
        height: 100%;
        width: 40%;
    } 
    .content_form {
        background-color: rgb(147, 191, 248);
        margin-left: 40%;
        padding: 20px  30px;
    } 
    li {
        padding: 30px 10px 0 30px;
        text-align: left;
        text-decoration: none;
     }
    ul {
    padding: 10px;
    list-style: none;
    font-size: 1em;
    display: block;
    text-decoration: none;
    }
}
@media (max-width: 1000px){
    nav{
        padding-top: 30px;
        background: rgb(2, 1, 1);;
        height: 100%;
        width: 35%;
    } 
    .content_form {
        background-color: rgb(210, 156, 241);
        margin-left: 35%;
        padding: 20px  30px;
    } 
    li {
        padding: 30px 10px 0 30px;
        text-align: left;
        text-decoration: none;
   }
}